html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: medium;
  font-family: sans-serif;
}

.header {
  /*background: #2fbd35;*/
  margin: 0;
  position: relative;

  height: 15rem;
  width: 100%;
}

.banner_img {
  height: 10rem;
  width: 100%;
  background-image: url("http://placecage.com/400/400");
}

.banner_logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: .3rem solid white;
  position: absolute;
  left: 15%;
  bottom: 15%;
}

.main {
  background: green;
  color: green;
  width: 75%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 -1rem;
  overflow: auto;
}

.sidebox {
  background: blue;
  color: black;
  width: calc(20% - 1rem);
  float: left;
  margin: .5rem;
}

.main-article {
  background: yellow;
  color: yellow;
  width: calc(60% - 1rem);
  float: left;
  margin: .5rem;
}
